<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Weather Forecast App" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:alert] || flash[:notice] || flash[:error] %>
      <div class="flash-messages container mx-auto px-4 py-4 max-w-6xl">
        <% if flash[:alert] %>
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 relative" role="alert">
            <span class="block sm:inline"><%= flash[:alert] %></span>
          </div>
        <% end %>
        
        <% if flash[:notice] %>
          <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 mb-4 relative" role="alert">
            <span class="block sm:inline"><%= flash[:notice] %></span>
          </div>
        <% end %>
        
        <% if flash[:error] %>
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 relative" role="alert">
            <span class="block sm:inline"><%= flash[:error] %></span>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
